.card {
  margin: 10px;
  width: 150px;
  height: 200px;
}

.card-info {
  white-space: nowrap;

}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for a card-like appearance */
}
