<div class="card">
  <mat-card>
    <mat-card-content>
      <p class="card-info">Couleur: {{ card.color }}</p>
      <p class="card-info">Valeur: {{ card.value }}</p>
    </mat-card-content>
  </mat-card>
</div>
