<div>

  <button mat-raised-button color="primary" class="generate-button" (click)="generateHand()"> Tire une main </button>

  <!-- Hand Display -->
  <div *ngIf="cardGameDetails" class="hand-section">
    <div class="hand-details">
      <p class="detail-label">Couleurs ordonnées:</p>
      <p class="detail">{{ cardGameDetails.orderedColors.join(', ') }}</p>
    </div>

    <div class="hand-details">
      <p class="detail-label">Valeurs ordonnées:</p>
      <p class="detail">{{ cardGameDetails.orderedValues.join(', ') }}</p>
    </div>


    <!-- Generated Hand -->
    <p class="generated-label">Main générée</p>

    <div class="hand-container">
      <mat-card *ngFor="let card of cardGameDetails.hand" class="card">
        <app-card [card]="card"></app-card>
      </mat-card>
    </div>
  </div>

  <!-- Sort Hand Button -->
  <div *ngIf="newHand" class="sort-button-section">
    <button mat-raised-button class="sort-button" (click)="sortHand()">Trier par Couleur puis par Valeur</button>
  </div>

  <!-- Sorted Hand Display -->
  <div *ngIf="sortedHand && !newHand" class="sorted-hand-section">
    <p class="sorted-label">Main triée:</p>
    <div class="hand-container">
      <mat-card *ngFor="let card of sortedHand" class="card">
        <app-card [card]="card"></app-card>
      </mat-card>
    </div>
  </div>

</div>
