.hand-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hand-details {
  margin-bottom: 20px;
}


/* component.css */
.card {
  margin: 10px;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* component.css */

/* Button Styling */
.generate-button {
  background-color: #4caf50; /* Green */
  color: white;
}

.sort-button {
  background-color: #2196f3; /* Blue */
  color: white;
}

/* Hand Display Styles */
.hand-section {
  margin-bottom: 20px;
}

.hand-details {
  margin-bottom: 10px;
}

.detail {
  margin: 0;
}

.generated-label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Sorted Hand Display Styles */
.sorted-hand-section {
  margin-top: 20px;
}

.sorted-label {
  font-weight: bold;
}


/* component.css */

.detail-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.detail-list {
  list-style: none;
  padding: 0;
}

.detail-item {
  margin-bottom: 3px;
}






