<div class="title container">Game Card</div>
<div class="header">
  <p class="header-text">
    On souhaite développer un jeu de cartes. Dans ce jeu, un joueur tire une main de 10 cartes de manière aléatoire.
    Chaque carte possède une couleur ("Carreaux", par exemple) et une valeur ("10", par exemple).
    On vous demande de:
  <ul>
    <li>Construire un ordre aléatoire des couleurs. L'ordre des couleurs est, par exemple, l'un des suivants :
      --> Carreaux, Coeur, Pique, Trèfle</li>
    <li>Construire un ordre aléatoire des valeurs. L'ordre des valeurs est, par exemple, l'un des suivants :
      --> As, 5, 10, 8, 6, 7, 4, 2, 3, 9, Dame, Roi, Valet</li>
    <li>Construire une main de 10 cartes de manière aléatoire.</li>
    <li>Présenter la main "non triée" à l'écran puis la main triée selon n'importe quel ordre défini dans la 1ère et 2ème étape.
      C'est-à-dire que vous devez classer les cartes par couleur et valeur.
      Vous présenterez une solution qui tourne sur le langage Java/Spring.</li>
  </ul>
</div>
