.header {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.header-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}


/* styles.css (global styles) or your component's CSS */
.red-snackbar {
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
}

.title {
  font-size: 2rem; /* Adjust font size for the title */
  font-weight: bold; /* Make the title bold */
  color: #333; /* Set the color of the title */
  margin-bottom: 10px; /* Add some space below the title */
}
.container {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within the container */
}
